body {
    font-family: 'Open sans';
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    overflow: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1.2em;
    color: #555;
}

.form-container {
    background: #fff;
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 100%;
    padding: 10px;
    background: #05512B;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    background: #004021;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.brand-div{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brand-div p {
    font-size: 15px;
    margin: 10px;
}

.brand-div h3 {
    margin: 10px;
}

.brand-div h4 {
    margin: 10px;
}

.shadowed {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.corner-btn{
    width: 20%;
    right: 3%;
}

@media (max-width: 768px) {
    .corner-btn {
        top: 0px;
        width: 90%;
        right: unset;
        left: 5%;
        top: 2%;
    }

    .brands-title {
        margin-top: 20px;
    }
}
